
{% extends "base.html" %}
{% block content %}
<h2>Purchase tickets for {{ event.name }}</h2>
{% if event.start %}
    <p>scheduled for {{ event.start|date }}</p>
{% endif %}
<form action="" method="post" accept-charset="utf-8">
    <p>Purchaser Information</p>
    {{ purchaseform.as_p }}
    <hr>
    <table>
    {{ ticketformset }}
    </table>
    {% if cash_ok %}
    <p><input type="submit" name="cash" value="paid cash"></p>
    {% endif %}
    <p><input type="submit" name="paypal" value="Continue purchase"></p>
</form>
{% endblock content %}

